.navbar {
    display: inline;
}

.navBar {
    display: inline-block;
}

.nav-routItem {
    width: 20px;
}

.header-shareBox {
    height: 25px;
}

.header-shareBox-item {
    margin-left: 20px;
    text-decoration: none;
}

.principalSection {
    display: inline-flex;
}

.mainSection-Box {
    display: block;
}

.mainSection {
    width: 1000px;
    margin: 20px;
}

.mainSection-readMore {
    margin: 20px;
    padding: 10px;
    width: 1000px;
    background-color: lightgray;
}

.mainSection-img {
    width: 1000px;
}

.footerBox {
    display: inline-flex;
}

.footer-linkBox {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 100px;
}

.asside-notice {
    width: 600px;
}

/*Cualidades generales de los link*/
.facebook {
    background-color: dodgerblue;
}
.twitter {
    background-color: deepskyblue;
}
.newsletter {
    background-color: red;
}